*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 91vh;
}

.container-footer{
    width: 100%;
    padding: 10px 10px;
    background-color: rgb(56, 50, 50);
    color: #ffffff;
}

.container-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-box{
    display: block;
    text-align: center;
    margin: 40px 10px 10px 10px;
    padding: 5px;
    border-radius: 37px;
    background: #ffffff;
    box-shadow:  9px 9px 14px #929292,
             -9px -9px 14px #ffffff;
    width: 90%;
}

.form-control{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 90%;
    
}

.btn{
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #ffffff;
}

.btn:hover{
    background-color: #000;
    color: #ffffff;
}

h1{
    text-align: center;
    margin-top: 10px;
    font-size: 5vw;
}

h3{
    margin-top: 5px;
    text-align: center;
}

textarea{
    resize: none;
}

.chtm{
    color: red;
    font-size: 30px;
}

.ccss{
    color: blue;
    font-size: 30px;
}

.cjs{
    color: yellow;
    font-size: 30px;
}

@media screen and (min-width: 800px) {
    .container-main{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .container-box{
        width: 45%;
    }
}